@media (max-width: 768px) {
    .dissapear_768 {
        display: none;
    }
    .registration{
        padding-right: 0 !important;
        align-items: center;
    }
    .application_data{
        width:45% !important;
    }
}
@media (max-width: 576px) {
    .dissapear_512{
        display: none;
    }
    .signup_div > h2{
        font-size: 3vw;
    }
    .register{
        width:100%;
    }
    .application_data{
        width:50% !important;
        margin-left:30% !important;
    }
}
@media (max-width:1200px) {
    .plans_for_growth > .row > .col {
        min-width:100%;
        margin-left: 20%;
    }
}
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

header > div > h1 {
    font-size: 3vw;
    font-weight: 500;
    color: transparent;
    background-image: linear-gradient(to right ,#553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);
    -webkit-background-clip: text;
    background-clip: text;
    border-right: 4px solid #000;
    animation: cursor 1s infinite step-end, typing 10s 1 steps(25);
    white-space: nowrap;
    overflow: hidden;
}
@keyframes cursor{
    0%, 100%{border-color: transparent;}
    50%{border-color: #000;}
}
@keyframes typing {
    0% { width: 0ch; } /* Text is hidden */
    100% { width: 16ch; } /* The entire header will be typed out and stays visible */
}

nav {
    font-family: 'Titillium Web';
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    width: 100%;
}

nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}

nav > li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
}

nav > a {
    padding: .5em .8em;
    color: rgba(172, 9, 9, 0.5);
    position: relative;
    text-decoration: none;
    font-size: 2.3vw;
}

nav > a::before,
nav > a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

nav > a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #143d89;
    border-right: 3px solid #1c0f64;
    transform: translate(-100%, 50%);
}

nav > a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #0f1c64;
    border-left: 3px solid #1c1489;
    transform: translate(100%, -50%)
}

nav > a:hover:before,
nav > a:hover:after{
    transform: translate(0,0);
    opacity: 1;
}

nav > a:hover {
    color: #0000007a;
}
.text > p{
    font-family: Titillium Web;
    color:  #434A54;
    font-size: 2vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    text-align: left;
}
.into_reality_text{
    font-family: Titillium Web;
    color: #434A54;
    font-size: 2vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    text-align: left;
}
.into_reality_header{
    font-size: 4vw;
}
.into_reality_link > a{
    color: lightseagreen;
    text-decoration: none;
    font-family: Poppins;
    font-size: 2vw;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0px;
    text-align: left;
}
.watch_on_youtube {
    color: #20bf6b !important;
    font-size: 2px;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #20bf6b !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }
.watch_on_youtube:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
    }
.col> h2{
    font-family: Sailec-Bold;
    font-size: 4vw;
    line-height: 4.5vw;
    letter-spacing: 0.1 vw;
    text-align: left;
}
.we_do_text{
    font-family: Mulish;
    color: #696871;
    font-size: 3vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    text-align: left;
}
.in-depth_header{
    font-family: DM Sans;
    font-size: 5vw;
    font-weight: 700;
    line-height: 5.5vw;
    letter-spacing: 0.3vw;
    text-align: left;
}
.in-depth_text{
    font-family: Mulish;
    color: #696871;
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0.1vw;
    text-align: left;
}
.in-depth_link {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #3498db; /* Blue color, you can change it to match your design */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow for depth */
}

.in-depth_link:hover {
    background-color: #2980b9; /* Darker blue color on hover */
}
.why_use_header{
    font-family: Roboto;
    font-size: 5.5vw;
    font-weight: 700;
    line-height: 5vw;
    letter-spacing: 0em;
    text-align: left;
}
.why_use_col > h3{
    font-family: Roboto;
    font-size: 4vw;
    font-weight: 700;
    line-height: 3.5vw;
    letter-spacing: 0em;
    text-align: left;
}
.why_use_col > p{
    color: #335C81;
    font-family: Roboto;
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: left;
}
.why_use_link{
    text-align: center;
}
.why_a {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }
.why_a:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}
.plans_for_growth{
    padding: 4%;
    background: #FDECED;
}
.plans_for_growth > .row > .col > p{
    width: 70%;
    font-family: Roboto;
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: left;
}
.plans_for_growth > h2{
    margin-left: 20%;
    font-family: Roboto;
    font-size: 3.5vw;
    font-weight: 700;
    line-height: 4vw;
    letter-spacing: 0em;
    text-align: left;
}
.plans_for_growth > .row > .col > h3{
    font-family: Roboto;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: left;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    font-family: 'Oswald', sans-serif;
    margin: 5%;
}

footer h4 {
    color: #61dafb; /* Sky Blue color, you can change it */
}

footer p {
    margin: 8px 0;
}

footer a {
    color: #61dafb; /* Sky Blue color, you can change it */
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer i {
    margin-right: 10px;
}

/* Adjust the text color for the links on hover */
footer a:hover {
    color: #fd7e14; /* Orange color, you can change it */
}

/* Style the copyright text at the bottom */
footer p{
    margin-top: 20px;
    font-size: 2vw;
}

.signup > .container{
    margin-top: 5%;
    display: flex;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    padding-top: 7.5%;
}
.signup > .container::before,
.signup > .container::after {
    content: "";
    flex: 1;
}

.signup > .container::before {
  background-color: #3498db; /* Color for the left half */
}

.signup > .container::after {
  background-color: #e74c3c; /* Color for the right half */
}
.art{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: #00227B;
}
.logo{
    width:40%;
}
.row{
    height: 100%;
}
.register{
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    height: 100%;
}
.art_reg{
    background-color: #3949AB;
    align-items: flex-start;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
}
.signup_div{
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-items: center;
}
.signup_div > h2{
    color: #fff;
    font-family: "Open Sans";
}
.signup_div > p{
    color: #fff;
    font-family: "Open Sans";
}
.col-5{
    height: 100%;
}
.add_v{
    width: 5%;
    border-radius: 50%;
    background-color: #143d89;
}
.add_v::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.registration{
    flex-direction: column;
    padding-right: 40%;
}
.registration > form{
    width: 75%;
    margin-right: 5%;
}
.register::after{
    z-index: -1;
}


/*Guide page*/
.guide {
    margin: 0;
    padding:0;
    background: #262626;
}
.guide > .container{
    align-items: center;
}
.guide > .container> h2{
    color: #fff;
    margin-top: 10%;
    font: 3vw sans-serif;
    text-align: center;
}

.guide > .container > ul {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 30%;
    transform: translate(-50%, -50%);
}

.guide > .container > ul li {
    list-style: none;
    color: #fff;
    padding: 7.5%;
}

.guide > .container > ul li a {
    width: 10vw;
    height: 10vw;
    background-color: #fff;
    text-align: center;
    line-height: 6vw;
    font-size: 5vw;
    padding: 15%;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.guide > .container > ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.guide > .container > ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}
.guide > .container > ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.guide > .container >  ul li a:hover:before {
    top: 0;
}
.fa-tiktok{
    color: #111111;
    filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}
.guide > .container >  ul li:nth-child(1) a:before{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.guide > .container >  ul li:nth-child(2) a:before{
    background: #55acee;
}

.guide > .container > ul li:nth-child(3) a:before {
    background: #000;
}

.guide > .container >  ul li:nth-child(4) a:before {
    background: #FF0000;
}
.work > .container{
    width: 80%;
}
.work > .container > .row{
    margin-top: 10%;
}
.work > .container > .row > h3{
    font-family: Poppins;
    color: #232536;
    font-size: 3vw;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
}
.work > .container > .row >  h2{
    font-family: Poppins;
    font-size: 3.8vw;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: center;
}
.work > .container > .row > p{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.applications{
    background-color: #ECF8F9;
}
.application_data{
    background-color: #FFF;
    width: 29%;
    margin:2% auto;
}
.application_data > h4{
    font-family: Poppins;
    font-size: 1.75vw;
    font-weight: 600;
    line-height: 3vw;
    letter-spacing: 0px;
    text-align: left;
}
.application_data > p{
    color: #55576b;
    font-family: Poppins;
    font-size: 1.75vw;
    font-weight: 400;
    line-height: 2vw;
    margin-bottom: 0.5em;
    letter-spacing: 0px;
    text-align: left;
}
.application_data > a{
    text-decoration: none;
    color: #5D5FEF;
    font-family: Poppins;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 1.5vw;
    letter-spacing: 0px;
    text-align: left;
}
.application_submit{
    flex-direction: column;
    padding-right: 40%;
    width: 80%;
}
.specialization{
    margin-top: 5%;
}
.specialization >.row{
    width: 90%;
    padding-left: 15%;
}
.specialization >.row >.description{
    position: relative;
    background-color: #FFE0C7;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 7.5%;
}
.specialization >.row >.description > h3{
    font-family: Poppins;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 2.5vw;
    letter-spacing: 0px;
    text-align: left;
}
.specialization >.row >.description > p{
    font-family: Poppins;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 2vw;
    letter-spacing: 0px;
    text-align: left;
}
.shape{
    position: absolute;
    top:0;
    right: 0;
}
.specialization >.row > .spec{
    padding-top: 7.5%;
}
.specialization >.row > .spec >h4{
    font-family: Poppins;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 2vw;
    letter-spacing: 3px;
    text-align: left;
}
.specialization >.row > .spec >h3{
    font-family: Poppins;
    font-size: 2.25vw;
    font-weight: 600;
    line-height: 3.5vw;
    letter-spacing: 0px;
    text-align: left;

}
.specialization >.row > .spec >p{
    font-family: Poppins;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 2vw;
    letter-spacing: 0px;
    text-align: left;
}
.specialization >.row > .spec a{
    font-family: Poppins;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 2vw;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 15%;
    padding-bottom: 5%;
    text-decoration: none;
    color: #FFFFFF;
}
.specialization >.row > .spec div{
    background-color: #444CFC ;
    width:50%
}
.shape_1{
    width:15%;
}