@media (max-width: 768px) {
    .dissapear_768 {
        display: none;
    }
}
@media (max-width: 512px) {
    .dissapear_512{
        display: none;
    }
}
nav > a{
    color: #666666D9;
    font-family: Sailec-Bold;
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0.5em;
    text-align: left;
    text-decoration: none
}
.text > p{
    font-family: Titillium Web;
    color:  #434A54;
    font-size: 2vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    text-align: left;
}
.into_reality_text{
    font-family: Titillium Web;
    color: #434A54;
    font-size: 2vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    text-align: left;
}
.into_reality_header{
    font-size: 4vw;
}
.into_reality_link{
    width: 70%;
    background-image: url("../img/HD-wallpaper-blue-and-red-color-gradient.jpg");
    text-align: center;
    padding: 1%;
}
.into_reality_link > a{
    color: lightseagreen;
    text-decoration: none;
    font-family: Poppins;
    font-size: 3vw;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0px;
    text-align: left;
}
.into_reality_link > a:hover{
    color: rgb(255, 17,0);
    
}
.col> h2{
    font-family: Sailec-Bold;
    font-size: 4vw;
    line-height: 4.5vw;
    letter-spacing: 0.1 vw;
    text-align: left;
}
.we_do_text{
    font-family: Mulish;
    color: #696871;
    font-size: 3vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    text-align: left;
}
.in-depth_header{
    font-family: DM Sans;
    font-size: 5vw;
    font-weight: 700;
    line-height: 5.5vw;
    letter-spacing: 0.3vw;
    text-align: left;
}
.in-depth_text{
    font-family: Mulish;
    color: #696871;
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0.1vw;
    text-align: left;
}
.in-depth_link{
    text-decoration: none;
    min-width: 30%;
    color: #5454D4;
    font-family: DM Sans;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 3vw;
    letter-spacing: 0.3vw;
    text-align: left;
}
.why_use_header{
    font-family: Roboto;
    font-size: 5.5vw;
    font-weight: 700;
    line-height: 5vw;
    letter-spacing: 0em;
    text-align: left;
}
.why_use_col > h3{
    font-family: Roboto;
    font-size: 4vw;
    font-weight: 700;
    line-height: 3.5vw;
    letter-spacing: 0em;
    text-align: left;
}
.why_use_col > p{
    color: #335C81;
    font-family: Roboto;
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: left;
}
.why_use_link{
    background-color: #F7B2B7;
    width: 45%;
    font-family: Roboto;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 20px;
    padding: 1.5% 1.5%;
}
.why_use_link > a{
    text-decoration: none;
    color: #000000;
}
.why_use_link > a:hover{
    color: #5454D4;
}
.plans_for_growth{
    padding: 4%;
}