@media (max-width: 768px) {
    .dissapear_768 {
        display: none;
    }
    .contacts{
        display: none !important;
    }
    .message_submit{
        width: 100% !important;
        padding-left: 10%;
    }
    .registration{
        padding-right: 0 !important;
        align-items: center;
    }
    .application_data{
        width:45% !important;
    }
    .card{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .button-49,
    .button-49:after {
        width: 200px;
        height: 86px;
        line-height: 88px;
    }
}
@media (max-width: 576px) {
    .dissapear_512{
        display: none;
    }
    .signup_div > h2{
        font-size: 3vw;
    }
    .register{
        width:100%;
    }
    .application_data{
        width:50% !important;
        margin-left:30% !important;
    }
    .card{
        width: 100%;
    }
}
@media (max-width:1200px) {
    .plans_for_growth > .row > .col {
        min-width:100%;
        margin-left: 20%;
    }
}
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

header > div > h1 {
    font-size: 3vw;
    font-weight: 500;
    color: transparent;
    background-image: linear-gradient(to right ,#553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);
    -webkit-background-clip: text;
    background-clip: text;
    border-right: 4px solid #000;
    animation: cursor 1s infinite step-end, typing 10s 1 steps(25);
    white-space: nowrap;
    overflow: hidden;
}
@keyframes cursor{
    0%, 100%{border-color: transparent;}
    50%{border-color: #000;}
}
@keyframes typing {
    0% { width: 0ch; } /* Text is hidden */
    100% { width: 16ch; } /* The entire header will be typed out and stays visible */
}

nav {
    font-family: 'Titillium Web';
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    width: 100%;
}

nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}

nav > li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
}

nav > a {
    padding: .5em .8em;
    color: rgba(172, 9, 9, 0.5);
    position: relative;
    text-decoration: none;
    font-size: 2.3vw;
}

nav > a::before,
nav > a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

nav > a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #143d89;
    border-right: 3px solid #1c0f64;
    transform: translate(-100%, 50%);
}

nav > a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #0f1c64;
    border-left: 3px solid #1c1489;
    transform: translate(100%, -50%)
}

nav > a:hover:before,
nav > a:hover:after{
    transform: translate(0,0);
    opacity: 1;
}

nav > a:hover {
    color: #0000007a;
}
.text > p{
    font-family: Titillium Web;
    color:  #434A54;
    font-size: 2vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    text-align: left;
}
.into_reality_text{
    font-family: Titillium Web;
    color: #434A54;
    font-size: 2vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    text-align: left;
}
.into_reality_header{
    font-size: 4vw;
}
.into_reality_link > a{
    color: lightseagreen;
    text-decoration: none;
    font-family: Poppins;
    font-size: 2vw;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0px;
    text-align: left;
}
.button-49,
.button-49:after {
    width: 100%;
    line-height: 4vw;
    font-size: 2vw;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'LEARN MORE';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}
.button-49:hover{
    color: #00E6F6;
}

.button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}
.price_button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    text-decoration: none;
    text-align: center;
}

.price_button::before,
.price_button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}

.price_button::before {
    top: 0;
    border-bottom-width: 0;
}

.price_button::after {
    bottom: 0;
    border-top-width: 0;
}

.price_button:active,
.price_button:focus {
    outline: none;
}

.price_button:active::before,
.price_button:active::after {
    right: 3px;
    left: 3px;
}

.price_button:active::before {
    top: 3px;
}

.price_button:active::after {
    bottom: 3px;
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button_text {
    position: relative;
}

.price_button:hover {
    color: #0f1923;
}
.price_button:hover .button_sl {
    width: calc(100% + 15px);
}

.price_button:hover .button_lg::after {
    background-color: #fff;
}
.watch_on_youtube {
    color: #20bf6b !important;
    font-size: 2px;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #20bf6b !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }
.watch_on_youtube:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
    }
.col> h2{
    font-family: Sailec-Bold;
    font-size: 4vw;
    line-height: 4.5vw;
    letter-spacing: 0.1 vw;
    text-align: left;
}
.we_do_text{
    font-family: Mulish;
    color: #696871;
    font-size: 3vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0em;
    text-align: left;
}
.in-depth_header{
    font-family: DM Sans;
    font-size: 5vw;
    font-weight: 700;
    line-height: 5.5vw;
    letter-spacing: 0.3vw;
    text-align: left;
}
.in-depth_text{
    font-family: Mulish;
    color: #696871;
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0.1vw;
    text-align: left;
}
.in-depth_link {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #3498db; /* Blue color, you can change it to match your design */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow for depth */
}

.in-depth_link:hover {
    background-color: #2980b9; /* Darker blue color on hover */
}
.why_use_header{
    font-family: Roboto;
    font-size: 5.5vw;
    font-weight: 700;
    line-height: 5vw;
    letter-spacing: 0em;
    text-align: left;
}
.why_use_col > h3{
    font-family: Roboto;
    font-size: 4vw;
    font-weight: 700;
    line-height: 3.5vw;
    letter-spacing: 0em;
    text-align: left;
}
.why_use_col > p{
    color: #335C81;
    font-family: Roboto;
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: left;
}
.why_use_link{
    text-align: center;
}
.why_a {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }
.why_a:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}
.plans_for_growth{
    padding: 4%;
    background: #FDECED;
}
.plans_for_growth > .row > .col > p{
    width: 70%;
    font-family: Roboto;
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: left;
}
.plans_for_growth > h2{
    margin-left: 20%;
    font-family: Roboto;
    font-size: 3.5vw;
    font-weight: 700;
    line-height: 4vw;
    letter-spacing: 0em;
    text-align: left;
}
.plans_for_growth > .row > .col > h3{
    font-family: Roboto;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: left;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    font-family: 'Oswald', sans-serif;
    margin: 5%;
}

footer h4 {
    color: #61dafb; /* Sky Blue color, you can change it */
}

footer p {
    margin: 8px 0;
}

footer a {
    color: #61dafb; /* Sky Blue color, you can change it */
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer i {
    margin-right: 10px;
}

/* Adjust the text color for the links on hover */
footer a:hover {
    color: #fd7e14; /* Orange color, you can change it */
}

/* Style the copyright text at the bottom */
footer p{
    margin-top: 20px;
    font-size: 3vw;
}

.signup > .container{
    margin-top: 5%;
    display: flex;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    padding-top: 7.5%;
}
.signup > .container::before,
.signup > .container::after {
    content: "";
    flex: 1;
}

.signup > .container::before {
  background-color: #3498db; /* Color for the left half */
}

.signup > .container::after {
  background-color: #e74c3c; /* Color for the right half */
}
.art{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: #00227B;
}
.logo{
    width:40%;
}
.row{
    height: 100%;
}
.register{
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    height: 100%;
}
.art_reg{
    background-color: #3949AB;
    align-items: flex-start;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
}
.signup_div{
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-items: center;
}
.signup_div > h2{
    color: #fff;
    font-family: "Open Sans";
}
.signup_div > p{
    color: #fff;
    font-family: "Open Sans";
}
.col-5{
    height: 100%;
}
.add_v{
    width: 5%;
    border-radius: 50%;
    background-color: #143d89;
}
.add_v::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.registration{
    flex-direction: column;
    padding-right: 40%;
}
.registration > form{
    width: 75%;
    margin-right: 5%;
}
.register::after{
    z-index: -1;
}


/*Guide page*/
.guide {
    margin: 0;
    padding:0;
    background: #262626;
}
.guide > .container{
    align-items: center;
}
.guide > .container> h2{
    color: #fff;
    margin-top: 10%;
    font: 3vw sans-serif;
    text-align: center;
}

.guide > .container > ul {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 30%;
    transform: translate(-50%, -50%);
}

.guide > .container > ul li {
    list-style: none;
    color: #fff;
    padding: 7.5%;
}

.guide > .container > ul li a {
    width: 10vw;
    height: 10vw;
    background-color: #fff;
    text-align: center;
    line-height: 6vw;
    font-size: 5vw;
    padding: 15%;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.guide > .container > ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.guide > .container > ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}
.guide > .container > ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.guide > .container >  ul li a:hover:before {
    top: 0;
}
.fa-tiktok{
    color: #111111;
    filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}
.guide > .container >  ul li:nth-child(1) a:before{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.guide > .container >  ul li:nth-child(2) a:before{
    background: #55acee;
}

.guide > .container > ul li:nth-child(3) a:before {
    background: #000;
}

.guide > .container >  ul li:nth-child(4) a:before {
    background: #FF0000;
}
.work > .container{
    width: 80%;
}
.work > .container > .row{
    margin-top: 10%;
}
.work > .container > .row > h3{
    font-family: Poppins;
    color: #232536;
    font-size: 3vw;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
}
.work > .container > .row >  h2{
    font-family: Poppins;
    font-size: 3.8vw;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: center;
}
.work > .container > .row > p{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.applications{
    background-color: #ECF8F9;
}
.application_data{
    background-color: #FFF;
    width: 29%;
    margin:2% auto;
}
.application_data > h4{
    font-family: Poppins;
    font-size: 1.75vw;
    font-weight: 600;
    line-height: 3vw;
    letter-spacing: 0px;
    text-align: left;
}
.application_data > p{
    color: #55576b;
    font-family: Poppins;
    font-size: 1.75vw;
    font-weight: 400;
    line-height: 2vw;
    margin-bottom: 0.5em;
    letter-spacing: 0px;
    text-align: left;
}
.application_data > a{
    text-decoration: none;
    color: #5D5FEF;
    font-family: Poppins;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 1.5vw;
    letter-spacing: 0px;
    text-align: left;
}
.application_submit{
    flex-direction: column;
    padding-right: 0%;
    width: 100%;
    padding-bottom: 10%;
    margin-top: 10%;
}
.specialization{
    margin-top: 5%;
}
.specialization >.row{
    padding-left: 15%;
}
.specialization >.row >.description{
    position: relative;
    background-color: #FFE0C7;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 7.5%;
}
.specialization >.row >.description > h3{
    font-family: Poppins;
    font-size: 3vw;
    font-weight: 600;
    line-height: 3vw;
    letter-spacing: 0px;
    text-align: left;
}
.specialization >.row >.description > p{
    font-family: Poppins;
    font-size: 2vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0px;
    text-align: left;
}
.shape{
    position: absolute;
    top:0;
    right: 0;
}
.specialization >.row > .spec{
    padding-top: 7.5%;
}
.specialization >.row > .spec >h4{
    font-family: Poppins;
    font-size: 2vw;
    font-weight: 500;
    line-height: 2.5vw;
    letter-spacing: 3px;
    text-align: left;
}
.specialization >.row > .spec >h3{
    font-family: Poppins;
    font-size: 2.75vw;
    font-weight: 600;
    line-height: 4vw;
    letter-spacing: 0px;
    text-align: left;

}
.specialization >.row > .spec >p{
    font-family: Poppins;
    font-size: 2vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0px;
    text-align: left;
}
.specialization >.row > .spec a{
    font-family: Poppins;
    font-size: 2vw;
    font-weight: 500;
    line-height: 2vw;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 15%;
    padding-bottom: 5%;
    text-decoration: none;
    color: #FFFFFF;
}
.specialization >.row > .spec div{
    background-color: #444CFC ;
    width:55%
}
.shape_1{
    width:15%;
}
.carousel.slide{
    margin-top: 10%;
}

#jobDescriptionCarousel {
    background-color: #ECF8F9; /* Зелений фон каруселі */
}

.carousel-item {
    text-align: center;
    padding: 5%;
    color: #000000;
}

.work-detail-headers {
    font-family: "Poppins";
    font-size: 3vw;
    color: #000;
    transition: color; /* Додано анімацію зміни кольору */
}

.carousel-link-container {
    display: flex;
    justify-content: space-around;
    padding-left:20%;
    padding-right: 20%;
}

.carousel-link {
    cursor: pointer;
    color: #ECF8F9; /* Колір тексту посилань */
    font-size: 3.5vw;
    position: relative; /* Додано для позиціонування */
}

.carousel-link::before {
    content: '—'; /* Три смужки під кожним словом */
    font-size: 2em;
    color: #ECF8F9;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

.carousel-link.active,
.carousel-link.active::before,
.work-detail-headers.active {
    color: #8a2be2; /* Фіолетовий колір для активного посилання, смужок та тексту */
}

.carousel-link.selected,
.carousel-link.selected::before,
.work-detail-headers.selected {
    color: #8a2be2; /* Фіолетовий колір для обраного посилання, смужки та тексту */
}

.carousel-indicators {
    display: none; /* Приховати стандартні індикатори */
}

.carousel-inner::before {
    content: ''; /* Видалити смужку під каруселлю */
    font-size: 2em;
    color: #fff;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}
.main_list{
    padding-left:10%;
    padding-right: 10%;
    font-size: 2.5vw;
    line-height: 3vw;
}
.application_submit >h2{
    font-family: Poppins;
    font-size: 3vw;
    font-weight: 600;
    line-height: 4vw;
    letter-spacing: 0px;
    text-align: left;
}
.message_submit{
    flex-direction: column;
    margin-top: 7.5%;
    width:60%;
}
.message_submit > img{
    width:3%;
}
.message_submit > h4{
    margin-top: 2%;
    font-family: Poppins;
    font-size: 2.5vw;
    font-weight: 500;
    line-height: 2.5vw;
    letter-spacing: 3px;
    text-align: left;
}

.message_submit > p{
    font-family: Poppins;
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 2.25vw;
    letter-spacing: 0px;
    text-align: left;

}

.message_submit > h2{
    font-family: Poppins;
    font-size: 3.75vw;
    font-weight: 600;
    line-height: 4vw;
    letter-spacing: 0px;
    text-align: left;
}
.message{
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    color: black;
    padding: 20px;
    padding-left: 25px;
    min-height: 200px;
    resize: none;
    overflow: hidden;
    position: relative;
    z-index: 3;
    background-color: transparent;
    
}
.send_message {
    position: relative;
    width:45%;
    background-color: #444CFC;
    border: 1px #444CFC;
}
.send_message > img{
    width: 15%;
}
.send_message > p{
    margin-top: 10%;
    margin-bottom: 5%;
    color: #fff;
    font-family: Poppins;
    font-size: 2.5vw;
    font-weight: 500;
    line-height: 3vw;
    letter-spacing: 0px;
    text-align: center;
}
.shape_2 {
    position: absolute;
    top: 0;
    left: 0;
}
.contacts{
    display: flex;
    position: relative;
    margin-top: 7.5%;
    padding-top: 7.5%;
    flex-direction: column;
    padding-bottom: 5%;
    background-color: #666DFF;
    color: #fff;
}
.contacts > img{
    z-index: -1;
}
.contacts > .add_info{
    margin-bottom:10%;
    padding-left: 15%;
}
.contacts > .add_info > h3{
    font-family: Poppins;
    font-size: 2vw;
    font-weight: 500;
    line-height: 3vw;
    letter-spacing: 0px;
    text-align: left;
}
.contacts > .add_info > h4{
    font-family: Poppins;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 2vw;
    letter-spacing: 0px;
    opacity: 60%;
    text-align: left;
}
.contacts > .add_info > p{
    font-family: Poppins;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 2vw;
    letter-spacing: 0px;
    opacity: 60%;
    text-align: left;
}
.soc_media{
    padding-left: 15%;
    width:60%;
    justify-content: space-between;
}
.soc_media > a{
    color: #fff;
}
.message_data{
    width: 75%;
}
.guide2 {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-family: sans-serif;
    background-color: #f1f1f1; 
}

.guide2 > .container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.guide2 > .container .card {
    position: relative;
    border-radius: 10px;
}

.guide2 > .container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.guide2 > .container .card:nth-child(1) .icon {
    background: #FF0000;
}

.guide2 > .container .card:nth-child(2) .icon {
    background: #6eadd4;
}

.guide2 > .container .card:nth-child(3) .icon {
    background: #4aada9;
}
.guide2 > .container .card:nth-child(4) .icon {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.guide2 > .container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    transition: 0.7s;
    color: #fff;
}

.guide2 > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    transition: 0.7s;
    color: #fff;
}

.guide2 > .container .card .face {
    width: 70%;
    margin-left: 15%;
    height: 200px;
    transition: 0.5s;
}

.guide2 > .container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.guide2 > .container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.guide2 > .container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.guide2 > .container .card:hover .face.face1 .content {
    opacity: 1;
}

.guide2 > .container .card .face.face1 .content i{
    max-width: 100px;
}

.guide2 > .container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.guide2 > .container .card:hover .face.face2{
    transform: translateY(0);
}

.guide2 > .container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.guide2 > .container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 2vw;
    text-align: center;
    color: #414141;
} 

.guide2 > .container a {
    text-decoration: none;
    color: #414141;
}
.pricing > .container > h4{
    font-family: Outfit;
    font-size: 2.5vw;
    font-weight: 500;
    line-height: 3vw;
    letter-spacing: 0px;
    text-align: center;
}
.pricing > .container > h2{
    font-family: Outfit;
    font-size: 3.5vw;
    font-weight: 750;
    line-height: 4vw;
    letter-spacing: 0px;
    text-align: center;
}
.pricing > .container > p{
    font-family: Outfit;
    font-size: 2vw;
    font-weight: 250;
    line-height: 3vw;
    letter-spacing: 0px;
    text-align: center;
    color: #454C5F;
}
.pricing > .container > .row{
    background-color: #EBFA9E;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    margin-bottom: 3%;
}
.pricing .col{
    background-color: #fff;
    max-width: 35%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pricing .col h3{
    padding-left: 5%;
    font-family: Outfit;
    font-size: 2.5vw;
    font-weight: 750;
    line-height: 3vw;
    letter-spacing: 0px;
    color: #1C2436;
}
.services img{
    width: 13%;
    border-radius: 50%;
    background-color: #EBFA9E;
    padding: 3%;
}
.check{
    width: 9%;
    background-color: #EBFA9E;
    padding: 2%;
    margin-right: 2%;
    margin-top: 5%;
    vertical-align: text-bottom;
}
ul{
    list-style: none;
    padding-left: 5%;
}
.pricing > .container ul li{
    font-family: Outfit;
    font-size: 2vw;
    font-weight: 250;
    line-height: 3vw;
    letter-spacing: 0px;
    text-align: left;
    color: #454C5F;
}

.cssbuttons-io-button {
    background: #A370F0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 1.5vw;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    width:80%;
    margin-bottom: 3%;
    text-decoration: none;
}
.cssbuttons-io-button:hover{
    color: white;
}
.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}
.app {
    font-family: 'Poppins', sans-serif;
    background-image: url('../img/background4.gif');
    background-size: 100%;
    display: flex;
    justify-content: center;
}

.app .container {
    width: 75%;
    padding: 5%;
    margin-top: 15%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.app h1 {
    text-align: center;
}

.app .question {
    font-weight: bold;
    margin-bottom: 10px;
}

.app .options {
    margin-bottom: 20px;
}

.app .option {
    display: block;
    margin-bottom: 10px;
}

.app .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.app .button:hover {
    background-color: #3071a9;
}

.app .result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.app .hide{
    display: none;
}
.app .thanks h3{
    font-family: 'Roboto';
    font-size: 3.5vw;
    font-weight: 500;
}
.app .thanks p{
    font-family: "Poppins";
    font-size: 3vw;
    font-weight: 500;
    color: #414141;
}
.app .thanks img{
    width: 80%;
    margin-left: 10%;
}
/* CSS */
.results {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.results:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.results:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}
